In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\hp\AppData\Local\Temp\ipykernel_10136\265554930.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df=pd.read_csv("C:/Users/hp/Downloads/My_Work/Sales_Data.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_10136\1245160184.py:1: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/hp/Downloads/My_Work/Sales_Data.csv")

In [5]:
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,profit %,Days,P-Margin
0,0.0,295665.0,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0.0,100.0,Monday,0.588267
1,1.0,295666.0,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7.0,100.0,Sunday,NaN
2,2.0,295667.0,USB-C Charging Cable,1,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18.0,100.0,Thursday,NaN
3,3.0,295668.0,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15.0,100.0,Sunday,NaN
4,4.0,295669.0,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12.0,100.0,Wednesday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185950,NaN,NaN,NaN,total cost,34289130.68,NaN,NaN,total sales,34492035.97,NaN,NaN,NaN,NaN,NaN
185951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185952,NaN,NaN,NaN,NaN,NaN,Profit,202905.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185954,NaN,NaN,NaN,NaN,NaN,P Margin,0.588267072,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#first few rows
print("Dataset Head:")
print(df.head(5))

Dataset Head:
   Unnamed: 0  Order ID               Product Quantity Ordered  Price Each  \
0         0.0  295665.0    Macbook Pro Laptop                1     1700.00
1         1.0  295666.0    LG Washing Machine                1      600.00
2         2.0  295667.0  USB-C Charging Cable                1       11.95
3         3.0  295668.0      27in FHD Monitor                1      149.99
4         4.0  295669.0  USB-C Charging Cable                1       11.95

         Order Date                        Purchase Address Month    Sales  \
0  30-12-2019 00:01  136 Church St, New York City, NY 10001    12  1700.00
1  29-12-2019 07:03     562 2nd St, New York City, NY 10001    12   600.00
2  12/12/2019 18:21    277 Main St, New York City, NY 10001    12    11.95
3  22-12-2019 15:13     410 6th St, San Francisco, CA 94016    12   149.99
4  18-12-2019 12:38           43 Hill St, Atlanta, GA 30301    12    11.95

             City  Hour  profit %       Days  P-Margin
0   New York City   0.0     100.0     Monday  0.588267
1   New York City   7.0     100.0     Sunday       NaN
2   New York City  18.0     100.0   Thursday       NaN
3   San Francisco  15.0     100.0     Sunday       NaN
4         Atlanta  12.0     100.0  Wednesday       NaN

In [7]:
#1. handle missing values by mean
mean_sales = df['Sales'].mean()

In [8]:
mean_sales

370.97983845206534

In [18]:
df.fillna(mean_sales)

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,profit %,Days,P-Margin
0,0.000000,295665.000000,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0.000000,100.000000,Monday,0.588267
1,1.000000,295666.000000,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7.000000,100.000000,Sunday,370.979838
2,2.000000,295667.000000,USB-C Charging Cable,1,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18.000000,100.000000,Thursday,370.979838
3,3.000000,295668.000000,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15.000000,100.000000,Sunday,370.979838
4,4.000000,295669.000000,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12.000000,100.000000,Wednesday,370.979838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185946,13618.000000,222906.000000,27in FHD Monitor,1,149.99,1/6/2019 19:29,"495 North St, New York City, NY 10001",6,149.99,New York City,19.000000,100.000000,Saturday,370.979838
185947,13619.000000,222907.000000,USB-C Charging Cable,1,11.95,22-06-2019 18:57,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18.000000,100.000000,Saturday,370.979838
185948,13620.000000,222908.000000,USB-C Charging Cable,1,11.95,26-06-2019 18:35,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18.000000,100.000000,Wednesday,370.979838
185949,13621.000000,222909.000000,AAA Batteries (4-pack),1,2.99,25-06-2019 14:33,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14.000000,100.000000,Tuesday,370.979838
185950,370.979838,370.979838,nan,total cost,34289130.68,370.979838,370.979838,total sales,34492035.97,370.979838,370.979838,370.979838,370.979838,370.979838

In [19]:
# 2. Finding maximum
max_sales = df['Sales'].max()
max_sales

34492035.97

In [20]:
# Finding Minimum
min_sales = df['Sales'].min()
min_sales

2.99

In [21]:
# 3. Filtering
filtered_df = df[df['Sales'] > 200]
filtered_df.head

<bound method NDFrame.head of         Unnamed: 0  Order ID                 Product Quantity Ordered  \
0              0.0  295665.0      Macbook Pro Laptop                1
1              1.0  295666.0      LG Washing Machine                1
11            11.0  295676.0         ThinkPad Laptop                1
16            16.0  295681.0            Google Phone                1
27            27.0  295689.0      LG Washing Machine                1
...            ...       ...                     ...              ...
185934     13606.0  222895.0  34in Ultrawide Monitor                1
185936     13608.0  222897.0  27in 4K Gaming Monitor                1
185942     13614.0  222903.0                  iPhone                1
185944     13616.0  222904.0      Macbook Pro Laptop                1
185950         NaN       NaN                     nan       total cost

         Price Each        Order Date  \
0           1700.00  30-12-2019 00:01
1            600.00  29-12-2019 07:03
11           999.99  28-12-2019 17:19
16           600.00  25-12-2019 12:37
27           600.00  24-12-2019 11:21
...             ...               ...
185934       379.99  29-06-2019 20:39
185936       389.99    1/6/2019 23:58
185942       700.00    7/6/2019 22:21
185944      1700.00    9/6/2019 22:07
185950  34289130.68               NaN

                               Purchase Address        Month        Sales  \
0        136 Church St, New York City, NY 10001           12      1700.00
1           562 2nd St, New York City, NY 10001           12       600.00
11        410 Lincoln St, Los Angeles, CA 90001           12       999.99
16                  79 Elm St, Boston, MA 02215           12       600.00
27         173 Lake St, San Francisco, CA 94016           12       600.00
...                                         ...          ...          ...
185934      497 1st St, San Francisco, CA 94016            6       379.99
185936     350 10th St, San Francisco, CA 94016            6       389.99
185942  685 Hickory St, New York City, NY 10001            6       700.00
185944        975 2nd St, Los Angeles, CA 90001            6      1700.00
185950                                      NaN  total sales  34492035.97

                  City  Hour  profit %       Days  P-Margin
0        New York City   0.0     100.0     Monday  0.588267
1        New York City   7.0     100.0     Sunday       NaN
11         Los Angeles  17.0     100.0   Saturday       NaN
16              Boston  12.0     100.0  Wednesday       NaN
27       San Francisco  11.0     100.0    Tuesday       NaN
...                ...   ...       ...        ...       ...
185934   San Francisco  20.0     100.0   Saturday       NaN
185936   San Francisco  23.0     100.0   Saturday       NaN
185942   New York City  22.0     100.0     Friday       NaN
185944     Los Angeles  22.0     100.0     Sunday       NaN
185950             NaN   NaN       NaN        NaN       NaN

[41992 rows x 14 columns]>

In [22]:
# Sorting products by sales in descending order
sorted_df = df.sort_values(by='Sales', ascending=False)
sorted_df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,profit %,Days,P-Margin
185950,NaN,NaN,nan,total cost,34289130.68,NaN,NaN,total sales,34492035.97,NaN,NaN,NaN,NaN,NaN
89114,6776.0,200528.0,Macbook Pro Laptop,2,1700.00,13-05-2019 13:40,"643 4th St, Boston, MA 02215",5,3400.00,Boston,13.0,50.0,Monday,NaN
172777,385.0,210292.0,Macbook Pro Laptop,2,1700.00,8/6/2019 9:00,"953 Ridge St, San Francisco, CA 94016",6,3400.00,San Francisco,9.0,50.0,Saturday,NaN
30183,5219.0,181544.0,Macbook Pro Laptop,2,1700.00,22-04-2019 12:48,"731 11th St, New York City, NY 10001",4,3400.00,New York City,12.0,50.0,Monday,NaN
29683,4717.0,181069.0,Macbook Pro Laptop,2,1700.00,27-04-2019 21:01,"668 Park St, San Francisco, CA 94016",4,3400.00,San Francisco,21.0,50.0,Saturday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50651,7414.0,157560.0,AAA Batteries (4-pack),1,2.99,19-02-2019 13:31,"550 Lakeview St, Portland, ME 04101",2,2.99,Portland,13.0,100.0,Tuesday,NaN
157873,11453.0,259138.0,AAA Batteries (4-pack),1,2.99,27-09-2019 23:44,"327 14th St, San Francisco, CA 94016",9,2.99,San Francisco,23.0,100.0,Friday,NaN
50641,7404.0,157550.0,AAA Batteries (4-pack),1,2.99,14-02-2019 19:03,"638 14th St, New York City, NY 10001",2,2.99,New York City,19.0,100.0,Thursday,NaN
50636,7399.0,157545.0,AAA Batteries (4-pack),1,2.99,23-02-2019 15:27,"137 12th St, New York City, NY 10001",2,2.99,New York City,15.0,100.0,Saturday,NaN
95273,12961.0,206415.0,AAA Batteries (4-pack),1,2.99,10/5/2019 16:27,"359 Adams St, San Francisco, CA 94016",5,2.99,San Francisco,16.0,100.0,Friday,NaN

In [23]:
print(df.dtypes)  # Check data types

Unnamed: 0          float64
Order ID            float64
Product              object
Quantity Ordered     object
Price Each          float64
Order Date           object
Purchase Address     object
Month                object
Sales               float64
City                 object
Hour                float64
profit %            float64
Days                 object
P-Margin            float64
dtype: object