In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv("C:/Users/hp/Downloads/My_Work/results_2024.csv")
df

,State,PC No,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,Andhra Pradesh,1,Araku (ST),1,GUMMA THANUJA RANI,Yuvajana Sramika Rythu Congress Party,471470,5535,477005,40.96
1,Andhra Pradesh,1,Araku (ST),2,KOTHAPALLI GEETHA,Bharatiya Janata Party,417113,9312,426425,36.62
2,Andhra Pradesh,1,Araku (ST),3,APPALANARASA PACHIPENTA,Communist Party of India (Marxist),119016,4113,123129,10.57
3,Andhra Pradesh,1,Araku (ST),4,AVASHYA LAHARI . VARAM,Bahujan Samaj Party,24858,892,25750,2.21
4,Andhra Pradesh,1,Araku (ST),5,SAMAREDDY BALAKRISHNA,Independent,9493,42,9535,0.82
...,...,...,...,...,...,...,...,...,...,...
8897,Jammu and Kashmir,5,JAMMU,23,NOTA,None of the Above,4631,14,4645,0.36
8898,Ladakh,1,Ladakh,1,MOHMAD HANEEFA,Independent,64443,816,65259,48.15
8899,Ladakh,1,Ladakh,2,TSERING NAMGYAL,Indian National Congress,35770,1627,37397,27.59
8900,Ladakh,1,Ladakh,3,TASHI GYALSON,Bharatiya Janata Party,31505,451,31956,23.58
8901,Ladakh,1,Ladakh,4,NOTA,None of the Above,896,16,912,0.67

In [8]:
df.head(5)

,State,PC No,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,Andhra Pradesh,1,Araku (ST),1,GUMMA THANUJA RANI,Yuvajana Sramika Rythu Congress Party,471470,5535,477005,40.96
1,Andhra Pradesh,1,Araku (ST),2,KOTHAPALLI GEETHA,Bharatiya Janata Party,417113,9312,426425,36.62
2,Andhra Pradesh,1,Araku (ST),3,APPALANARASA PACHIPENTA,Communist Party of India (Marxist),119016,4113,123129,10.57
3,Andhra Pradesh,1,Araku (ST),4,AVASHYA LAHARI . VARAM,Bahujan Samaj Party,24858,892,25750,2.21
4,Andhra Pradesh,1,Araku (ST),5,SAMAREDDY BALAKRISHNA,Independent,9493,42,9535,0.82

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8902 entries, 0 to 8901
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         8902 non-null   object
 1   PC No         8902 non-null   int64
 2   PC Name       8902 non-null   object
 3   Sl no         8902 non-null   int64
 4   Candidate     8902 non-null   object
 5   Party         8902 non-null   object
 6   EVM Votes     8902 non-null   object
 7   Postal Votes  8902 non-null   object
 8   Total Votes   8902 non-null   object
 9   Vote Share    8902 non-null   object
dtypes: int64(2), object(8)
memory usage: 695.6+ KB

In [18]:
df.notnull()

,State,PC No,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
8897,True,True,True,True,True,True,True,True,True,True
8898,True,True,True,True,True,True,True,True,True,True
8899,True,True,True,True,True,True,True,True,True,True
8900,True,True,True,True,True,True,True,True,True,True
8901,True,True,True,True,True,True,True,True,True,True

In [20]:
df.dropna()

,State,PC No,PC Name,Sl no,Candidate,Party,EVM Votes,Postal Votes,Total Votes,Vote Share
0,Andhra Pradesh,1,Araku (ST),1,GUMMA THANUJA RANI,Yuvajana Sramika Rythu Congress Party,471470,5535,477005,40.96
1,Andhra Pradesh,1,Araku (ST),2,KOTHAPALLI GEETHA,Bharatiya Janata Party,417113,9312,426425,36.62
2,Andhra Pradesh,1,Araku (ST),3,APPALANARASA PACHIPENTA,Communist Party of India (Marxist),119016,4113,123129,10.57
3,Andhra Pradesh,1,Araku (ST),4,AVASHYA LAHARI . VARAM,Bahujan Samaj Party,24858,892,25750,2.21
4,Andhra Pradesh,1,Araku (ST),5,SAMAREDDY BALAKRISHNA,Independent,9493,42,9535,0.82
...,...,...,...,...,...,...,...,...,...,...
8897,Jammu and Kashmir,5,JAMMU,23,NOTA,None of the Above,4631,14,4645,0.36
8898,Ladakh,1,Ladakh,1,MOHMAD HANEEFA,Independent,64443,816,65259,48.15
8899,Ladakh,1,Ladakh,2,TSERING NAMGYAL,Indian National Congress,35770,1627,37397,27.59
8900,Ladakh,1,Ladakh,3,TASHI GYALSON,Bharatiya Janata Party,31505,451,31956,23.58
8901,Ladakh,1,Ladakh,4,NOTA,None of the Above,896,16,912,0.67

In [21]:
df.describe()

             PC No        Sl no
count  8902.000000  8902.000000
mean     17.402381    10.818243
std      15.267346     8.252271
min       1.000000     1.000000
25%       6.000000     5.000000
50%      13.000000     9.000000
75%      24.000000    15.000000
max      80.000000    55.000000

In [23]:
df.to_string

<bound method DataFrame.to_string of                   State  PC No     PC Name  Sl no                Candidate  \
0        Andhra Pradesh      1  Araku (ST)      1       GUMMA THANUJA RANI
1        Andhra Pradesh      1  Araku (ST)      2        KOTHAPALLI GEETHA
2        Andhra Pradesh      1  Araku (ST)      3  APPALANARASA PACHIPENTA
3        Andhra Pradesh      1  Araku (ST)      4   AVASHYA LAHARI . VARAM
4        Andhra Pradesh      1  Araku (ST)      5    SAMAREDDY BALAKRISHNA
...                 ...    ...         ...    ...                      ...
8897  Jammu and Kashmir      5       JAMMU     23                     NOTA
8898             Ladakh      1      Ladakh      1           MOHMAD HANEEFA
8899             Ladakh      1      Ladakh      2          TSERING NAMGYAL
8900             Ladakh      1      Ladakh      3            TASHI GYALSON
8901             Ladakh      1      Ladakh      4                     NOTA

                                      Party EVM Votes Postal Votes  \
0     Yuvajana Sramika Rythu Congress Party    471470         5535
1                    Bharatiya Janata Party    417113         9312
2       Communist Party of India  (Marxist)    119016         4113
3                       Bahujan Samaj Party     24858          892
4                               Independent      9493           42
...                                     ...       ...          ...
8897                      None of the Above      4631           14
8898                            Independent     64443          816
8899               Indian National Congress     35770         1627
8900                 Bharatiya Janata Party     31505          451
8901                      None of the Above       896           16

     Total Votes Vote Share
0         477005      40.96
1         426425      36.62
2         123129      10.57
3          25750       2.21
4           9535       0.82
...          ...        ...
8897        4645       0.36
8898       65259      48.15
8899       37397      27.59
8900       31956      23.58
8901         912       0.67

[8902 rows x 10 columns]>

In [ ]:
class student:
    def __init__(self,args):
        if len(args)==1:
            self.roll_no==args[0]
        if len(args)==2:
            self.roll_no=args[0]
            self.name=args[1]